@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.profile-card {
  font-family: Poppins;
  border: 2px solid gray;
  border-radius: 1rem;

  .header {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 1rem 1rem 0 0;
    position: relative;

    &::before {
      content: "";
      background-color: red;
      border-radius: 1rem 1rem 0 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
    }
  }

  .content {
    text-align: center;
    color: rgb(60, 58, 58);

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 100px;
      background-repeat: no-repeat;
      background-size: 200%;
      background-position: center center;
      margin: 0 auto;
      transform: translateY(-50%);
      margin-bottom: -75px;
      border: 8px solid rgba(255, 255, 255, 0.35);
    }

    h2 {
      font-size: 3rem;
      margin: 0;
      font-weight: 600;
    }

    h4 {
      margin: 0;
      font-size: 1.3rem;
      color: gray;
      font-weight: 500;
    }

    .stats {
      display: flex;
      justify-content: space-evenly;
      padding: 2rem 0;
    }

    h3 {
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
    }

    h6 {
      font-size: 1rem;
      color: gray;
      margin: 0;
    }
  }
}
